---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from "astro:content";

// worksを取得。 日付を降順
const posts = (await getCollection("works", ({ data }) => !data.draft)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Works | niri.la">
  <main class="max-w-4xl mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold mb-8">Works</h1>

    <ul class="space-y-6">
      {
        posts.map((post) => (
          <BlogCard
            title={post.data.title}
            description={post.data.description}
            pubDate={post.data.pubDate}
            href={`/works/${post.id.replace(/\.md$/, "")}`}
            tags={post.data.tags}
          />
        ))
      }
    </ul>
  </main>
</BaseLayout>
