---
import { SITE } from "../config";
import ThemeToggle from "./ThemeToggle.astro";

interface Props {
  domain?: string;
}
---

<aside class="w-full lg:w-80 shrink-0">
  <div class="sticky top-8 space-y-6">
    <p
      class="font font-bold text-5xl bg-linear-to-r from-rose-400 to-pink-500 bg-clip-text text-transparent"
    >
      {SITE.domain}
    </p>

    <div class="space-y-4">
      <slot />
    </div>

    <div class="mt-4">
      <ThemeToggle />
    </div>
  </div>
</aside>
